.bg-primary{
	background: var(--primary-color) !important;
}
.logo{
	padding:0;
	margin: 0;
	line-height: 1;
	font-size: 1rem
}
.site-main{padding:50px 0;}
article{
	margin-bottom: 20px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}